:root {
  --background: #f7fafc;
  --foreground: #1a202c;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
}
